<div class="d-flex align-items-stretch"style="height: 100vh; margin-top: -60px; padding-top: 60px; border-top: 1px #ddd solid;">
  <%= button_to 'Update sidebar', update_sidebar_chat_path(@friend), remote: true, method: :get, style: 'display: none;', id: 'updateSidebar' %>
  <div id="sidebar" style="width: 400px">
    <%= render "sidebar", friends: @friends, current: @friend.id %>
  </div>
  <div class="flex-grow-1" style="border-left: 1px #ddd solid;">
    <div class="d-flex flex-column" style="height: 100%; color: #777;">
      <%= render "messages", messages: @messages %>
      <%= render "input", friend: @friend %>
      <script>
        $(document).ready(function() {
          $('#messages').show().animate({ scrollTop: 1000000 }, 0);
        });
      </script>
    </div>
  </div>
</div>
<%= render "channel" %>
<%= render "online" %>
<script>
$(document).ready(function() {
  setInterval(function(){
    $('#updateSidebar').click();
  }, 30000);
});
</script>
