<div class="container">
  <div class="d-flex justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'text-center col-md-6', style: 'margin-top: 30px;'}) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email address' %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password', style: 'margin-top: 7px;' %>

      <% if devise_mapping.rememberable? -%>
        <div class="form-check" style="margin: 7px 0px;">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' %>
        </div>
      <% end -%>

      <div class="actions" style="margin-top: 15px">
        <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
